# Results folder

# Experimental data folder
experimental data/
**/experimental data/

# Literature folder
literature/ 
**/literature/

# MATLAB specific files
*.mat
*.fig
*.asv
*.m~

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
~$*
*.tmp
*.temp

# Other data files that might be present
*.dat
*.bin
*.raw
*.csv 
*.pptx
*.png
*.avi
*.mp4

# ...except this one
!LDoS_single_defect_save.mat
!LDoS_multi_defect_save.mat
!LDoS_single_defects_self=0.6_save.mat